*{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#generatedTextContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.word{
    margin: 6px;
    color: #646669;
}

.correct{
    color: rgba(255, 255, 255, 0.947);
}

.incorrect{
    color: red;
}

.completed{
    color: white;
}



@keyframes blink {
    from { border-left-color: white; }
    to { border-left-color: transparent; }
}

.cursor {
    border-left: 2px solid white;
    animation: blink 1s infinite;
    display: inline-block;
}
